i {
  font-size: 0.8em;
}
.edit {
  display: none;
  width: 100%;
}
.editButton{
    float: none;
    display: none;
    margin-left: 10px;
}

.view {
  display: block;
}
.saveButton{
  display: none;
}

.comment:hover .editButton{
    display: inline;
    visibility:visible;
}

.comment .editButton{
    visibility: hidden;
}

.comment:hover .close {
  display: inline;
  visibility:visible;
}

.comment .close {
  visibility:hidden;
}
